<link rel="stylesheet" type="text/css" href="modules/sorting/sorting.css">


	<div id="sorting">
		<div class="main">
            <ul>
            	<li class="choose"><span class="zwui-iconfont icon-rank"></span>综合排序</li>
            	<li ng-click="saleDownSort()"><span class="zwui-iconfont icon-money"></span>销量从高到低</li>
            	<li ng-click="priceUpSort()"><span class="zwui-iconfont icon-up"></span>价格从低到高</li>
            	<li ng-click="priceDownSort()"><span class="zwui-iconfont icon-down"></span>价格从高到低</li>
            </ul>
        </div>
	</div>
