
/*主体*/
#sorting .main ul{padding:0.03rem 0.15rem;}
#sorting .main ul li{border-bottom:0.01rem solid #ededed;height:0.5rem;line-height:0.5rem;color:rgba(31,32,35,.8);font-size:0.135rem;}
#sorting .icon-rank:before{content:"\e638";font-size:0.125rem;margin-right:0.05rem;}
#sorting .icon-money:before{content:"\e63d";font-size:0.125rem;margin-right:0.05rem;}
#sorting .icon-up:before{content:"\e639";font-size:0.125rem;margin-right:0.05rem;}
#sorting .icon-down:before{content:"\e63a";font-size:0.125rem;margin-right:0.05rem;}

/*被选中的效果*/
#sorting .choose{color:#40c895!important;}
@font-face{font-family:zworld;src:url(http://common1.qyerstatic.com/zworld/m/common/font/zworld.eot?k32lb01);src:url(http://common1.qyerstatic.com/zworld/m/common/font/zworld.eot?k32lb01#iefix) format('embedded-opentype'),url(http://common1.qyerstatic.com/zworld/m/common/font/zworld.ttf?k32lb01) format('truetype'),url(http://common1.qyerstatic.com/zworld/m/common/font/zworld.woff?k32lb01) format('woff'),url(http://common1.qyerstatic.com/zworld/m/common/font/zworld.svg?k32lb01) format('svg');font-weight:400;font-style:normal}
.zwui-iconfont{font-family:zworld!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}