*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
html{
	font-size: 100px;
}
body{
	font-family: Helvetica;
}
.play header{
	height: 0.44rem;
	background: #0CBF79;
	font-size: 0.20rem;
	line-height: 0.44rem;
	text-align: center;
	display: flex;
	justify-content: space-between;
	padding: 0 0.05rem;
}
.play header>a>div{
	color: #fff;

}
.play header>a>i{
	font-size: 0.25rem;
	color: #fff;
}
.play section{
	display: flex;
	font-size: .16rem;
	justify-content: space-between;
	padding: .08rem .12rem;
	border-bottom: 1px solid #D7D7D7;
	background: #fff;
	color: #848484;
}
.play section div{
	display: flex;
	align-items:center;
}
.play section div:last-child i{
	font-size: 0.2rem;
}
.play .play-bg ul{
	color: #737373;
	font-size: 0.16rem;
	background: #fff;
	padding: 0 .1rem;
}
.play .play-bg{
	background: rgba(0,0,0,.5);
	height: 10rem;
	/*display: none;*/
}
.play .play-bg ul li{
	
	line-height: .4rem;
	height: .4rem;
	border-bottom: 1px solid #E7E7E7;
}
.play .play-bg ul li a{
	display: flex;
	justify-content: space-between;
}
.play .play-bg .play-choice a{
	color: #24C586;
}
.play .fixed{
	position: fixed;
	z-index: 3;
	width: 100%;
	top: 0;
}

.play .play-info{
	padding: 0 0.12rem;	
	margin-top: 1rem;
}
.play .play-info>li{
	position: relative;
	border: 1px solid #E1E1E1;
	margin-bottom: 0.2rem;
}
.play .float{
	font-size: 0.12rem;
	position: absolute;
	border:1px solid #fff;
	border-radius: 0.12rem;
	color: #fff;
	padding: 0.05rem 0.1rem;
	right: 0.15rem;
	top: 0.15rem;
	z-index: 1;
}
.play .play-img{
	position: relative;
}
.play .play-img img{
	width: 100%;
	display: block;
}
.play .play-img p{
	font-size: 0.17rem;
	font-weight: bold;
	position: absolute;
	bottom: 0;
	color: #fff;
	padding: 0.1rem 0.15rem;
}
.play .play-content{
	padding: 0.12rem;
	font-size: 0.12rem;
	border-radius: 0.03rem;
}
.play .play-content p{
	line-height: 0.2rem;
    max-height: 0.4rem;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
   	-webkit-line-clamp: 2;
/*word-wrap: break-word;*/
   /*word-break: break-all;*/
}
.play .play-content>div{
	display: flex;
	justify-content: space-between;
	margin-top: 0.1rem;

}
.play .play-content>div>div{
	display: flex;
	align-items:center;
}
.play .play-content>div>div:last-child span{
	color: #ff7466;
}


@font-face {
	font-family: "wan_font";
	src: url('http://common1.qyerstatic.com/wan_m/common/fonts/wan_font.eot?v=1468205515452');
	src: url('http://common1.qyerstatic.com/wan_m/common/fonts/wan_font.eot?#iefix') format('embedded-opentype'), url('http://common1.qyerstatic.com/wan_m/common/fonts/wan_font.woff?v=1468205515452') format('woff'), url('http://common1.qyerstatic.com/wan_m/common/fonts/wan_font.ttf?v=1468205515452') format('truetype'), url('http://common1.qyerstatic.com/wan_m/common/fonts/wan_font.svg#wan_font?v=1468205515452') format('svg');
}

.iconfont {
	font-family: "wan_font" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale
}

.iconfont-search:before {
    content: '\EA7B';
}

.iconfont-arrow-down:before {
    content: '\EA42';
}


.iconfont-back:before {
    content: '\EA6B';
}
.iconfont-arrow-down:before {
    content: '\EA42';
}
.iconfont-date:before {
    content: '\EA77';
}