	<div class="mod-trip">
		<!-- 页面头部 -->
		<header id="trip-header">
			<div class="trip-header-left" ng-click="commonNavShow()">
				<span class="icon-drawer zwui-iconfont"></span>
			</div>
			穷游行程助手
		</header>
		<!-- 行程列表 -->
		<ul class="trip-list-ul">
			<li>
				<span>我的行程</span>
			</li>
			<li>
				<span class="trip-list-clicked">热门行程</span>
			</li>
		</ul>
		<div class="tripShowBox">
			<div class="tripShowBox2">
				<!-- 一分钟搞定你的攻略 标语 -->
				<div class="trip-show-words">
					<!-- 点击登陆注册 -->
					<div class="trip-toLogin" ng-hide="flag">
						<img src="images/trip-toLogin-ico.png" />
						<a href="##">点击登陆或注册,体验更多哟~</a>
						<div class="trip-closeLogin" ng-click="closeIt()">X</div>
					</div>
					<div class="trip-helper-banner">
						<p>拿上别人的行程即刻出发；全程线路规划最短路线；</p>
						<p>导出PDF打印带上路，一键生成英文送签单；</p>
						<p>告别办公软件吧！</p>
					</div>
					<div class="trip-createNewTrip" ui-sref="createTrip">
						<img src="images/trip-createNewImg.png" />
						创建新的行程
					</div>
				</div>
			</div>
		</div>
		<!-- 主体 -->
		<!-- 行程列表详情 -->
		<div id="trip-main">
			<!-- 我的行程 -->
			<div class="trip-mine"></div>
			<!-- 热门行程 -->
			<div class="trip-hot">
				<!-- 热门行程列表详细信息 -->
				<div class="trip-hot-detail" ng-repeat="x in data" ui-sref = "tripUserPage">
					<div class="hot-detail-box" style="background: url('{{x.photo}}');">
						<a href="##" class="trip-user" data-regdate="2016-10-31">
                    		<img ng-src="{{x.userPhoto}}">&nbsp;
                    		{{x.userName}}
                   		</a>
						<div class="hot-detail-words">
							<div class="hot-detail-words-left">
								<span class="trip-hot-day">{{x.dayNum}}</span>
								<span class="trip-hot-dayWord">天</span>
							</div>
							<div class="hot-detail-words-right">
								<p class="hot-detail-words-p1">{{x.dayStart}}出发</p>
								<p class="hot-detail-words-p2">{{x.articleTitle}}</p>
							</div>
						</div>
					</div>
					<div class="trip-hot-route .ellipsis">
						{{x.route}}
					</div>
				</div>
		</div>
		<div id="trip-load-more">
			<span>载入更多行程</span>
		</div>
		<div class="trip-empty-box"></div>
		<!-- 底部按钮 -->
		<footer id="trip-footer">
			<div class="trip-footer-left">
				<div>行程定制</div>
			</div>
			<div class="trip-footer-right" ui-sref = "createTrip">
				+创建新的行程
			</div>
		</footer>
	</div>