@charset="utf-8";
/*全局样式*/
.mod-ask{
	font-size: 0.14rem;
	color: #444;
}
.mod-ask a{
	color: #444;
}
/*头部样式*/
#ask-header{
	width: 100%;
	height: 0.44rem;
	background: #2bab79 url(http://static.qyer.com/m/project/ask/images/ask_logo.png) no-repeat center center;
	background-size: 1.2rem 0.22rem;
}
.ask-left{
	width: 0.44rem;
	height: 0.44rem;
}
/*广告栏*/
#ask-banner{
	width: 100%;
	height: 1.41rem;
	background: #b5e3f2 url(../../images/ask-banner-bg.png) no-repeat center center;
	background-size: 4.14rem 1.41rem;
}
.ask-search{
	width: 3.94rem;
	height: 0.34rem;
	margin: 0 auto;
	padding-top: 1rem;
}
#ask-search-input{
	width: 3.94rem;
	height: 0.34rem;
	font-size: 0.14rem;
	padding-left: 0.05rem;
}
/*主体部分*/
#ask-main{
	padding: 0.1rem 0.08rem;
}
.ask-btn{
	width: 3.94rem;
	height: 0.34rem;
	line-height: 0.34rem;
	background: #4998cc;
	color: #fff;
	font-size: 0.14rem;
	text-align: center;
	border-radius: 0.02rem;
	margin: 0 auto;
	margin-bottom: 0.2rem;
}
/*问题分类*/
.ask-part{
	width: 3.94rem;
	height: 0.44rem;
}
.ask-part li{
	float: left;
	height: 0.44rem;
	line-height: 0.44rem;
	padding: 0 0.1rem;
}
.ask-part a{
	display: inline-block;
}
/*问题分类被点击后样式*/
.ask-clicked{
	color: #2bab79!important;
}
/*问题详情*/
.ask-detail{
	border-top: 0.01rem solid #e6e8ea;
	padding: 0.12rem 0 0.08rem 0;
	/*height: 2rem;*/
}
.ask-detail h3{
	color: #29323f;
	font-size: 0.17rem;
	font-weight: bold;
	line-height: 0.22rem;
}
.ask-detail p{
	line-height: 0.24rem;
	overflow: hidden;
}
.ask-detail span{
	font-size: 0.12rem;
	line-height: 0.18rem;
	color: #9ea3ab;
	padding: 0 0.01rem;
}
.ask-user-name,.ask-date{
	float: left;
}
.ask-reply,.ask-focus{
	float: right;
}
/*页面底部我要提问按钮*/
.ask-wanto{
	width: 100%;
	height: 0.5rem;
	line-height: 0.5rem;
	position: fixed;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	text-align: center;
	color: #fff;
	font-size: 0.18rem;
}
/*点击加载更多*/
.ask-load-more{
	width: 100%;
	height: 0.38rem;
	line-height: 0.38rem;
	text-align: center;
	color: #9ea3ab;
	background: #faf9f9;
}
/*页脚样式*/
#ask-footer{
	width: 100%;
	margin-top: 0.2rem;
	margin-bottom: 0.8rem;
}
#ask-footer p{
	width: 100%;
	height: 0.2rem;
	line-height: 0.2rem;
	font-size: 0.1rem;
	text-align: center;
}
#ask-footer a{
	margin: 0.15rem;
}
.ask-footer-copy{
	color: #9ea3ab;
}
.ask-footer-select{
	color: #9ea3ab!important;
}
@font-face {
	font-family:zworld;
	src:url(http://common1.qyerstatic.com/zworld/m/common/font/zworld.eot?k32lb01);
	src:url(http://common1.qyerstatic.com/zworld/m/common/font/zworld.eot?k32lb01#iefix) format('embedded-opentype'),url(http://common1.qyerstatic.com/zworld/m/common/font/zworld.ttf?k32lb01) format('truetype'),url(http://common1.qyerstatic.com/zworld/m/common/font/zworld.woff?k32lb01) format('woff'),url(http://common1.qyerstatic.com/zworld/m/common/font/zworld.svg?k32lb01) format('svg');
	font-weight:400;
	font-style:normal
}
.ask_three{
	font-family:zworld!important;
	display: inline-block;
    width: 0.44rem;
    height: 0.44rem;
    font-size: 0.18rem;
    line-height: 0.44rem;
    text-align: center;
    color: white;
}
.ask_three:before {
    content: "\e602";
}
