*{margin:0;padding:0;box-sizing:border-box;}
ul,
li{list-style:none;}
a{text-decoration:none;color:black;}
html{font-size:100px;}
body{font-family:Helvetica,Arial,sans-serif;}
body{font-size:0.18rem;background:#f5f5f5;}

/*头绿色的部分*/
#find .name{height:0.4rem;width:100%;display:flex;background:linear-gradient(to right,#4ec872,#10c0a5)}
#find .name p{width:70%;color:#fff;line-height:0.4rem;text-align:center;}
#find .name p img{height:0.25rem;width:auto;margin-top:0.07rem;}
#find .name_ico{color:#FFF;font-weight:bold;font-size:18px;width:15%;height:0.4rem;line-height:0.4rem;text-align:center;}
#find .icon-drawer:before{content:"\e602";}

/*主体部分图片*/
#find .main li{height:2.07rem;width:100%;margin-bottom:0.03rem;}
#find .main li img{width:100%;height: 100%}

/*页脚说明部分*/
#find .explain{margin-bottom:0.54rem;height:0.6rem;background:#f5f5f5;margin-top:0.1rem;}
#find .explain p{text-align:center;color:#9ea3ab;font-size:0.12rem;}
#find .copyright{margin:0.1rem 0 0.05rem 0;padding-top:0.15rem;}
#find .explain_p span{margin:0 0.05rem;}
#find .black{color:#444;}

/*页脚固定部分*/
#find .footul{width:100%;position:fixed;background:#fff;z-index:3;bottom:0;left:0;height:0.54rem;display:flex;-webkit-box-shadow:0 -2.5px 4px rgba(0,0,0,0.15);justify-content:space-around;}

/*被点击的效果*/
@font-face {
	font-family:zworld;
	src:url(http://common1.qyerstatic.com/zworld/m/common/font/zworld.eot?k32lb01);
	src:url(http://common1.qyerstatic.com/zworld/m/common/font/zworld.eot?k32lb01#iefix) format('embedded-opentype'),url(http://common1.qyerstatic.com/zworld/m/common/font/zworld.ttf?k32lb01) format('truetype'),url(http://common1.qyerstatic.com/zworld/m/common/font/zworld.woff?k32lb01) format('woff'),url(http://common1.qyerstatic.com/zworld/m/common/font/zworld.svg?k32lb01) format('svg');
	font-weight:400;
	font-style:normal
}
.zwui-iconfont {
	font-family:zworld!important;
	speak:none;
	font-style:normal;
	font-weight:400;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
#find .green{color:#00B081 ! important;}
#find .footul li div{font-size:0.2rem;margin-top:0.07rem;margin-left:0.04rem;height:0.25rem;}
#find .icon-home:before{content:"\e606";}
#find .footul li p{text-align:center;font-size:0.13rem;}
#find .icon-explore:before{content:"\e603";}
#find .icon-my:before{content:"\e608";}