*{margin:0;padding:0;box-sizing:border-box;}
ul,
li{list-style:none;}
a{text-decoration:none;color:black;}
html{font-size:100px;}
body{font-family:Helvetica;}
body{font-size:0.14rem;}

/*头绿色的部分*/
#firstPage{background: #fff;}
#firstPage .name{height:0.4rem;width:100%;display:flex;background:linear-gradient(to right,#4ec872,#10c0a5)}
#firstPage .name p{width:70%;line-height:0.4rem;text-align:center;}
#firstPage .name p img{height:0.25rem;width:auto;margin-top:0.07rem;}
#firstPage .name_ico{color:#FFF;font-weight:bold;font-size:18px;width:15%;height:0.4rem;line-height:0.4rem;text-align:center;}
#firstPage .icon-drawer:before{content:"\e602";}

/*绿色部分的按钮*/
#firstPage .nav{padding:0.15rem 0.3rem 0.075rem 0.3rem;height:2.08rem;background:linear-gradient(to right,#4ec872,#10c0a5);}
#firstPage .nav ul{display:flex;flex-wrap:wrap;justify-content:space-around;}
#firstPage .nav li{width:0.88rem;}
#firstPage .nav .common{margin-left:0.19rem;padding:0.12rem;display:inline-block;font-size:0.21rem;color:#fff;border:0.02rem solid #fff;border-radius:50%;}
#firstPage .nav li p{text-align:center;color:#fff;line-height:0.42rem;height:0.42rem;}
#firstPage .nav .icon-package{background-color:#3cd5a2;}
#firstPage .nav .icon-package:before{content:"\e613";}
#firstPage .nav .icon-local{background-color:#f47f72;}
#firstPage .nav .icon-local:before{content:"\e607";}
#firstPage .icon-visa{background-color:#f7b345;}
#firstPage .icon-visa:before{content:"\e60a";}
#firstPage .icon-wifi{background-color:#4fc1e0;}
#firstPage .icon-wifi:before{content:"\e60b";}
#firstPage .icon-shuttle{background-color:#4fc1e0;}
#firstPage .icon-shuttle:before{content:"\e600";}
#firstPage .icon-sale{background-color:#f7b345;}
#firstPage .icon-sale:before{content:"\e609";}
#firstPage .icon-explore-city{background-color:#f47f72;}
#firstPage .icon-explore-city:before{content:"\e62f";}
#firstPage .icon-citywalk{background-color:#3cd5a2;}
#firstPage .icon-citywalk:before{content:"\e601";}

/*搜索*/
#firstPage .search{height:0.63rem;line-height:0.63rem;}
#firstPage .search_a{display:inline-block;height:0.32rem;background:#f5f5f5;border-radius:0.16rem;width:3.95rem;border:0.01rem solid #ececec;line-height:0.32rem;margin-left:0.1rem;color:#949494;}
#firstPage .icon-search:before{content:"\e64f";margin:0 0.05rem 0 0.1rem;font-size:19px;vertical-align:middle;}

/*主体*/
#firstPage .main ul{display:flex;height:0.42rem;border-bottom:0.01rem solid #ececec;border-top:0.01rem solid #ececec;padding:0 0.1rem;}
#firstPage .main ul li{width:50%;color:#636363;font-size:0.16rem;text-align:center;line-height:0.42rem;font-weight:bold;}

/*被选中时颜色*/
#firstPage .choose{color:#00b081!important;border-bottom:0.03rem solid #16c1a0;}

/*各个城市的图片*/
#firstPage .tb{margin-left:0.03rem;}
#firstPage .tb,
#firstPage td{border:.03rem solid #fff;}
#firstPage .tb td{height:1.32rem;}
#firstPage .tb td img{height:1.32rem;width:1.92rem;}
#firstPage .tb td .big{height:1.32rem;width:3.95rem;}
/*全部国家*/
#firstPage .country{width: 100%;padding: 0 0.2rem;}
#firstPage .country h3{font-size: 0.24rem;color: #636363;height: 0.65rem;line-height: 0.8rem;}
#firstPage .country a{font-size: 0.16rem;color: #636363;display: inline-block;width: 1.83rem;height: 0.35rem;line-height: 0.35rem;}


/*页脚说明部分*/
#firstPage .explain{margin-bottom: 0.54rem;height:0.6rem;background:#f5f5f5;margin-top:0.1rem;}
#firstPage .explain p{text-align:center;color:#9ea3ab;font-size:0.12rem;}
#firstPage .copyright{margin:0.1rem 0 0.05rem 0;padding-top:0.15rem;}
#firstPage .explain_p span{margin:0 0.05rem;}
#firstPage .black{color:#444;}

/*页脚固定部分*/
#firstPage .footul{width: 100%;position: fixed;background: #fff;z-index: 3; bottom: 0;left: 0;height:0.54rem;display:flex;-webkit-box-shadow:0 -2.5px 4px rgba(0,0,0,0.15);justify-content:space-around;}
/*被点击的效果*/
#firstPage .green{color:#00B081;}
#firstPage .footul li div{font-size:0.2rem;margin-top:0.07rem;margin-left:0.04rem;height:0.25rem;}
#firstPage .icon-home:before{content:"\e606";}
#firstPage .footul li p{text-align:center;}
#firstPage .icon-explore:before{content:"\e603";}
#firstPage .icon-my:before{content:"\e608";}


@font-face {
	font-family:zworld;
	src:url(http://common1.qyerstatic.com/zworld/m/common/font/zworld.eot?k32lb01);
	src:url(http://common1.qyerstatic.com/zworld/m/common/font/zworld.eot?k32lb01#iefix) format('embedded-opentype'),url(http://common1.qyerstatic.com/zworld/m/common/font/zworld.ttf?k32lb01) format('truetype'),url(http://common1.qyerstatic.com/zworld/m/common/font/zworld.woff?k32lb01) format('woff'),url(http://common1.qyerstatic.com/zworld/m/common/font/zworld.svg?k32lb01) format('svg');
	font-weight:400;
	font-style:normal
}
.zwui-iconfont {
	font-family:zworld!important;
	speak:none;
	font-style:normal;
	font-weight:400;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}